@font-face {
    font-family: "iconfont"; /* Project id 4118942 */
    src: url('//at.alicdn.com/t/c/font_4118942_clcze3mfeik.woff2?t=1686725579695') format('woff2'),
    url('//at.alicdn.com/t/c/font_4118942_clcze3mfeik.woff?t=1686725579695') format('woff'),
    url('//at.alicdn.com/t/c/font_4118942_clcze3mfeik.ttf?t=1686725579695') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github-fill:before {
    content: "\e885";
    font-size: 22PX;
    color: #F8B26A;
}

.icon-juejin:before {
    content: "\e60b";
    color: #F47E60;
    font-size: 22PX;
}

.icon-biaoqian:before {
    content: "\eabd";
    font-size: 16px;
}

.icon-a-zidingyirenwu:before {
    content: "\e63c";
    font-size: 16px;
}

.icon-gengduo:before {
    font-size: 16px;
    color: #515151;
    content: "\e600";
    position: absolute;
    top: 0;
    left: 30px;
}

.icon-date:before {
    font-size: 16px;
    color: #7f7f7f;
    content: "\e697";
}

.icon-color-filling:before {
    font-size: 50px !important;
    content: "\e7cd";
    color: #3eaf7c;
}

.icon-WEBqianduan:before {
    font-size: 16px;
    color: #7f7f7f;
    content: "\e61c";
}

.icon-search:before {
    font-size: 50px !important;
    color: #7f7f7f;
    content: "\e741";
}

.icon-document:before {
    font-size: 16px;
    color: #7f7f7f;
    content: "\e650";
}

.icon-docker:before {
    font-size: 16px;
    color: #7f7f7f;
    content: "\eb7d";
}

.icon-work-filling:before {
    font-size: 16px;
    color: #7f7f7f;
    content: "\e68c";
}
